@using Kendo.Mvc.UI
@model ABB.Web.Modules.ModuleNavigation.Models.ModuleNavigationViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@{
    ViewData["Title"] = "Add Module Menu";
    Layout = "";
}

<script src="~/Modules/ModuleNavigation/JS/moduleNavigation.form.js"></script>
<script src="~/Modules/ModuleNavigation/JS/moduleNavigation.add.js"></script>

<form id="ModuleNavigationForm" enctype="multipart/form-data">
    <div class="window-body" style="background-color: lightgray">

        <div class="form-group col-12">
            <label class="col-sm-5">Module</label>
            <div class="col-sm-12">
                <kendo-dropdownlist for="ModuleId" option-label="Please Choose Module" filter="FilterType.Contains"
                                    datavaluefield="Value" datatextfield="Text" class="not-null-dropdown">
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetModules","ModuleNavigation")" />
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
                <span asp-validation-for="ModuleId" class="text-danger"></span>
            </div>
        </div>

        <div id="navigation">
            <div id="NavigationInlineGrid" class="inline-grid"></div>
            <br />
            <btn id="btn-add-navigation" class="flat-btn-simple">+ Add Menu</btn>
            <br />
            <span asp-validation-for="Navigations" class="text-danger"></span>

        </div>
    </div>
    <div class="window-footer">
        <div class="col-12">
            <button type="button" id="btnCreateModuleNavigation" class="btn btn-primary space-right">Save</button>
        </div>
    </div>
</form>

<style>
    #modules {
        margin-left: 7.5px;
        margin-right: 7.5px;
    }
    .form-group{
        margin-left:-7.5px;
    }
</style>
