@using Kendo.Mvc.UI
@using ABB.Application.ModuleNavigations.Queries
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Module Navigation";
}

<script src="~/Modules/ModuleNavigation/JS/moduleNavigation.index.js"></script>

<div class="flat-box">
    <div class="flat-box-title">
        Module Menu

        <div class="pullright-flex">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search" />
            <button class="flat-btn-primary" id="btnAddModuleNavigation">Add Module Menu</button>
        </div>
    </div>
    <div class="flat-box-content">
        @(Html.Kendo().Grid<ModuleNavigationViewDto>()
        .Name("ModuleNavigationGrid")
        .DataSource(dataSource => dataSource.Ajax().PageSize(10)
            .Read(read => read.Action("GetModuleNavigations", "ModuleNavigation").Data("searchFilter"))
        )
        .Columns(columns =>
        {
            columns.Bound(col => col.ModuleId).Hidden();
            columns.Bound(col => col.ModuleName).Width(100);
            columns.Bound(col => col.Navigations).ClientTemplate("#= brTemplate(Navigations)#").Width(250);
            columns.Command(command =>
            {
                command.Custom("Edit")
                        .Text(" ")
                        .IconClass("fa fa-pencil-alt")
                        .HtmlAttributes(new { title = "Edit" })
                        .Click("btnEditModuleNavigation_OnClick");
                command.Custom("Delete")
                        .Text(" ")
                        .IconClass("fa fa-trash")
                        .HtmlAttributes(new { title = "Delete" })
                        .Click("btnDeleteModuleNavigation_OnClick");

            }).Title("Action").Width(80);

        })
        .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                    )
        .Scrollable(a=>a.Height(420))
        .Resizable(a => a.Columns(true))
        .Events(ev => ev.DataBound("gridAutoFit"))
        .Sortable()
        .Filterable())
        @(Html.Kendo().Window()
            .Name("ModuleNavigationWindow")
            .Title("Add Module Menu")
            .Width(600)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            .LoadContentFrom("Add", "ModuleNavigation")
          )
    </div>
</div>

