@using ABB.Application.DokumenKlaims.Queries
@using Kendo.Mvc.UI
@using Kendo.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dokumen Klaim";
}

<script src="~/Modules/DokumenKlaim/JS/dokumenKlaim.index.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>

<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-8">
            Dokumen Klaim
        </div>

        <div class="col-md-4">
            <button class="flat-btn-primary" onclick="btnAddDokumenKlaim_OnClick()">Add New Sebab Kejadian</button>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<DokumenKlaimDto>()
                .Name("DokumenKlaimGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetDokumenKlaims", "DokumenKlaim").Data("searchFilter"))
                    .Model(model => model.Id(p => p.Id))
                )
                .Columns(columns =>
                {
                    columns.Bound(col => col.nm_cob).Width(150).Title("Nama COB");
                    columns.Bound(col => col.kd_dok).Width(150).Title("Kode Dokumen Klaim");
                    columns.Bound(col => col.nm_dok).Width(150).Title("Nama DokumenKlaim");
                    columns.Command(command =>
                    {
                        command.Custom("EditDokumenKlaim")
                            .Text("Edit")
                            .IconClass("fa fa-pencil-alt")
                            .HtmlAttributes(new { title = "Edit" })
                            .Click("btnEditDokumenKlaim_OnClick");
                        command.Custom("DeleteDokumenKlaim")
                            .Text("Delete")
                            .IconClass("k-icon k-i-delete")
                            .HtmlAttributes(new { title="Delete"})
                            .Click("onDeleteDokumenKlaim");
                    }).Width(200).Title("Action");
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit"))
        
                )    
        </div>
        
        @(Html.Kendo().Window()
            .Name("DokumenKlaimWindow")
            .Title("Dokumen Klaim")
            .Width(400)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
    </div>
</div>

