@using ABB.Application.CancelUpdateSettledKlaims.Queries
@using Kendo.Mvc.UI
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cancel Update Settled Klaim";
}
<script src="~/Modules/CancelUpdateSettledKlaim/JS/cancelUpdateSettledKlaim.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>
<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Cancel Update Settled Klaim
        </div>

        <div class="col-md-4">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search"/>
        </div>

        <div class="col-md-2">
            <button class="flat-btn-primary" onclick="cancelUpdateSettledKlaim()">Cancel Update</button>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<CancelUpdateSettledKlaimDto>()
                .Name("CancelUpdateSettledKlaimGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetCancelUpdateSettledKlaims", "CancelUpdateSettledKlaim").Data("searchFilter"))
                    .Model(model => model.Id(p => p.Id))
                )
                .Columns(columns =>
                {
                    columns.Select().Width(50);
                    columns.Bound(col => col.nomor_register_klaim).Width(200).Title("Nomor Berkas");
                    columns.Bound(col => col.no_pol_lama).Width(150).Title("Nomor Polis").ClientTemplate("#= formatNoPol(no_pol_lama) #");
                    columns.Bound(col => col.no_updt).Width(150).Title("Nomor Update");
                    columns.Bound(col => col.no_rsk).Width(150).Title("Nomor Resiko");
                    columns.Bound(col => col.tgl_updt).Width(150).Title("Tanggal Update").Format("{0: dd-MM-yyyy}");
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .PersistSelection()
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit"))
        
                )    
        </div>
    </div>
</div>

