@using ABB.Application.LKTs.Queries
@using Kendo.Mvc.UI
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "LKT";
}
<script src="~/Modules/LKT/JS/lkt.index.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>

<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-8">
            LKT
        </div>

        <div class="col-md-4">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search"/>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<LKTDto>()
                .Name("LKTGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetLKTs", "LKT").Data("searchFilter"))
                    .Model(model => model.Id(p => p.Id))
                )
                .Columns(columns =>
                {
                    columns.Command(command =>
                    {
                        command.Custom("EditLKT")
                            .Text("Edit")
                            .IconClass("k-icon k-i-edit")
                            .HtmlAttributes(new { title="Edit"})
                            .Click("onEditLKT");
                        // command.Custom("ViewLKT")
                        //     .Text("View")
                        //     .IconClass("fa fa-eye")
                        //     .HtmlAttributes(new { title = "View" })
                        //     .Click("onViewLKT");
                    }).Width(200).Title("Action").Locked(true);
                    columns.Bound(col => col.nm_cb).Width(150).Title("Nama Cabang");
                    columns.Bound(col => col.nm_cob).Width(150).Title("Nama COB");
                    columns.Bound(col => col.nm_scob).Width(150).Title("Nama SCOB");
                    columns.Bound(col => col.nomor_lkt).Width(200).Title("Nomor LKT");
                    columns.Bound(col => col.no_mts).Width(150).Title("Nomor Mutasi");
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit"))
                ) 
        </div>
        
        @(Html.Kendo().Window()
            .Name("LKTWindow")
            .Title("LKT")
            .Width(800)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
    </div>
</div>
