@using ABB.Application.ProsesSpreadingOfRisks.Queries
@using Kendo.Mvc.TagHelpers
@using Kendo.Mvc.UI
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Proses SOR";
}
<script src="~/Modules/ProsesSpreadingOfRisk/JS/prosesSpreadingOfRisk.index.js"></script>

<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Proses Spreading of Risk (SOR)
        </div>
        <div class="col-md-4">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search"/>
        </div>

        <div class="col-md-2">
            <button class="flat-btn-primary" onclick="prosesSpreadingOfRisk()">Auto SOL</button>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<ProsesSpreadingOfRiskDto>()
                .Name("ProsesSpreadingOfRiskGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetProsesSpreadingOfRisks", "ProsesSpreadingOfRisk").Data("searchFilterProsesSpreadingOfRisk"))
                    .Model(model => model.Id(p => p.Id))
                )
                .Columns(columns =>
                {
                    columns.Select().Width(50);
                    columns.Bound(col => col.Id).Hidden();
                    columns.Bound(col => col.nomor_akseptasi).Width(150).Title("Nama Cabang");
                    columns.Bound(col => col.tgl_closing).Width(150).Title("Tanggal Closing").Format("{0: dd-MM-yyyy}");
                    columns.Bound(col => col.no_pol_ttg_masked).Width(150).Title("Nomor Polis");
                    columns.Bound(col => col.nm_ttg).Width(200).Title("Nama Tertanggung");
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .PersistSelection()
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a => a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit").Change("onChangeGridProsesSpreadingOfRisk"))
                )
        </div>
    </div>
</div>
