@using Kendo.Mvc.TagHelpers
@using Kendo.Mvc.UI
@model ABB.Web.Modules.Inquiry.Models.InquiryPranotaParameterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<script src="~/Modules/Inquiry/Components/InquiryPranotaView/pranotaView.js"></script>

<div class="window-body">
    <div id="pranotaTab">
        <ul>
            <li class="k-active">
                Tertanggung
            </li>
            <li>
                Koasuransi Member
            </li>
        </ul>
        <div id="tabTertanggung">
            <vc:inquiry-pranota model="@Model"></vc:inquiry-pranota>
        </div>
        <div id="tabKoasuransi">
            <vc:inquiry-pranota-koas model="@Model"></vc:inquiry-pranota-koas>
        </div>
    </div>

    <div class="window-footer">
        <button type="button" id="btn-previous-inquiryPranota" class="btn btn-primary space-right">
            <span class="fa fa-arrow-left"></span> Previous
        </button>
    </div>
</div>