@using ABB.Application.Coverages.Queries
@using Kendo.Mvc.UI
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Coverage";
}

<script src="~/Modules/Coverage/JS/coverage.index.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
    #kd_cvrg{
        background-color: #00FFFF;
    }
    #nm_cvrg, #nm_cvrg_ing{
        background-color: #FFFFE1;
    }
</style>

<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Coverage
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<CoverageDto>()
                .Name("CoverageGrid")
                .ToolBar(toolbar => toolbar.Create())
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetCoverages", "Coverage"))
                    .Model(model => model.Id(p => p.kd_cvrg))
                )
                .Columns(columns =>
                {
                    columns.Command(command =>
                    {
                        command.Edit();
                        command.Custom("DeleteCoverage")
                            .Text("Delete")
                            .IconClass("k-icon k-i-delete")
                            .HtmlAttributes(new { title="Delete"})
                            .Click("onDeleteCoverage");
                    }).Width(200).Title("Action").Locked(true);
                    columns.Bound(col => col.kd_cvrg).Width(100).Title("Kode Coverage").Editable("disableGridTextboxWhenEdit");
                    columns.Bound(col => col.nm_cvrg).Width(200).Title("Nama Coverage");
                    columns.Bound(col => col.nm_cvrg_ing).Width(200).Title("Nama Coverage (English)");
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit").Save("onSaveCoverage"))

                )
        </div>
    </div>
</div>
