@using Kendo.Mvc.UI
@using ABB.Application.EntriNotas.Queries
@using ABB.Domain.Entities
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Entri Nota";
}
<script src="~/Modules/EntriNota/JS/entriNota.index.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>

<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Entri Nota
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<NotaDto>()
                .Name("EntriNotaGrid")
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetEntriNotas", "EntriNota").Data("searchFilter"))
                    .Model(model => model.Id(p => p.Id))
                )
                .Columns(columns =>
                {
                    columns.Bound(col => col.kd_cb).Width(100).Title("Kode Cabang");
                    columns.Bound(col => col.jns_tr).Width(100).Title("Jenis Transaksi");
                    columns.Bound(col => col.jns_nt_msk).Width(100).Title("Jenis Nota Masuk");
                    columns.Bound(col => col.kd_thn).Width(100).Title("Kode Tahun");
                    columns.Bound(col => col.kd_bln).Width(100).Title("Kode Bulan");
                    columns.Bound(col => col.no_nt_msk).Width(100).Title("No Nota Masuk");
                    columns.Bound(col => col.jns_nt_kel).Width(100).Title("Jenis Nota Keluar");
                    columns.Bound(col => col.no_nt_kel).Width(100).Title("No Nota Keluar");
                    columns.Command(command =>
                    {
                        command.Custom("EditNota")
                            .Text("Edit")
                            .IconClass("k-icon k-i-edit")
                            .HtmlAttributes(new { title="Edit"})
                            .Click("onEditEntriNota");
                        command.Custom("CancelNota")
                            .Text("Cancel")
                            .IconClass("fa fa-times-circle")
                            .HtmlAttributes(new { title="Cancel"})
                            .Click("onCancelEntriNota");
                    }).Width(200);
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit"))
                ) 
        </div>
        
        @(Html.Kendo().Window()
            .Name("EntriNotaWindow")
            .Title("Entri Nota")
            .Width(1200)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
        
        @(Html.Kendo().Window()
            .Name("EntriNotaCancelWindow")
            .Title("Entri Nota Cancel")
            .Width(1200)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
    </div>
</div>

