@using Kendo.Mvc.UI
@using ABB.Application.Modules.Queries
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Module List";
}

<script src="~/Modules/Module/JS/module.index.js"></script>
<script src="~/Modules/Module/JS/module.form.js"></script>

@Html.AntiForgeryToken()
<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Master Module
        </div>
        <div class="col-md-4">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search" />
        </div>

        <div class="col-md-2">
            <button class="flat-btn-primary" id="btnAddNewModule">Add Module</button>
        </div>
    </div>
    <div class="flat-box-content">
        @(Html.Kendo().Grid<ModuleDto>()
        .Name("ModuleGrid")
        .DataSource(dataSource => dataSource.Ajax().PageSize(5)
            .Read(read => read.Action("GetModules", "Module").Data("searchFilter"))
        )
        .Resizable(r => r.Columns(true))
        .Columns(columns =>
        {
            columns.Command(command =>
            {
                command.Custom("Edit")
                    .Text(" ")
                    .IconClass("fa fa-pencil-alt")
                    .HtmlAttributes(new { title="Edit"})
                    .Click("btnEditModule_OnClick");
                command.Custom("Delete")
                    .Text(" ")
                    .IconClass("fa fa-trash")
                    .HtmlAttributes(new { title="Delete"})
                    .Click("btnDeleteModule_OnClick");
            }).Title("Action").Width(180).Locked(true);
            columns.Bound(col => col.Id).Hidden();
            columns.Bound(col => col.Name).Width(250);
            columns.Bound(col => col.Icon).Title("Icon").ClientTemplate("<span class='fas #= Icon #'> </span>").Width(100);
            columns.Bound(col => col.Sequence).Width(150);;
        })
        .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(new int[] { 5, 10, 25, 50 })
                    )
        .Sortable()
        .Height(400)
        .Scrollable()
        .Filterable())
        @(Html.Kendo().Window()
            .Name("ModuleWindow")
            .Title("Module Page")
            .Width(400)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
          )
    </div>
</div>

