@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Import Nota Risiko";
}
<script src="~/Modules/ImportNotaRisiko/JS/importNotaRisiko.js"></script>

<div class="flat-box" id="container-cancel-csm">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Import Nota Risiko
        </div>
    </div>

    <div class="flat-box-content">
        <form id="ImportNotaRisikoForm" enctype="multipart/form-data" autocomplete="off">
            <div>
                <div class="row form-group">
                    <div class="row col-sm-6">
                        <label class="col-sm-3">File</label>
                        <div class="col-sm-7">
                            <kendo-upload name="notaRisikoFile" multiple="false"></kendo-upload>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" id="btn-upload-nota-risiko" class="btn btn-primary" style="width: 100%">
                                <span class="fa fa-upload"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

