@using Kendo.Mvc.UI
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<script src="~/Modules/ApprovalMutasiKlaim/JS/approvalMutasiKlaim.revised.js"></script>

<div class="window-body">
    <form id="approvalForm" enctype="multipart/form-data" autocomplete="off">
        <div class="col-sm-12 form-group">
            <kendo-textarea name="keterangan" rows="15"></kendo-textarea>
        </div>
        <div class="col-sm-6 form-group">
            <kendo-upload name="upload" multiple="true"></kendo-upload>
        </div>
        <div class="col-sm-12 form-group">
            <kendo-dropdownlist name="kd_user_sign" style="width: 100%" option-label="Pilih User Sign"
                                datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                <datasource type="DataSourceTagHelperType.Custom">
                    <transport>
                        <read url="@Url.Action("GetUserSign", "ApprovalMutasiKlaim")"/>
                    </transport>
                </datasource>
            </kendo-dropdownlist>
        </div>
    </form>

    <div class="window-footer">
        <button type="button" id="btn-approvalMutasiKlaim-revised" class="btn btn-primary space-right">
            Revised
        </button>
    </div>
</div>