@addTagHelper *, ABB.Web

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background: #073763;">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
            <div class="image">
                <a href="/Home/Index">
                    <img src="~/img/new_logo_login.png" alt="ABB Logo" class="brand-image" style="opacity: .8">
                </a>
            </div>
            
            <div class="col-sm-4" style="align-content: center;">
                <h6 style="margin: 0; text-align: center; color: white; font-size: 0.9rem">@ViewBag.DatabaseName</h6>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <vc:navigation logged-in-username="@Context.User.Identity.Name"></vc:navigation>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>