@using ABB.Application.Akseptasis.Queries
@using Kendo.Mvc.UI

<script src="~/Modules/Akseptasi/Components/OtherCargoDetail/otherCargoDetail.js"></script>

<div class="window-body">
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="search-field-top" style="height: 1em" id="SearchKeywordOtherCargoDetailKoas" placeholder="Search"/>
        </div>
        <div class="offset-5"></div>
        <div class="col-md-2">
            <button class="flat-btn-primary" style="height: 1em" id="btnAddNewAkseptasiOtherCargoDetail">Add New</button>
        </div>
    </div>
    
    @(Html.Kendo().Grid<AkseptasiOtherCargoDetailDto>()
        .Name("AkseptasiOtherCargoDetailGrid")
        .DataSource(dataSource => dataSource.Ajax()
            .Read(read => read.Action("GetAkseptasiOtherCargoDetails", "Akseptasi").Data("searchFilterOtherCargoDetail"))
            .Model(model => model.Id(p => p.no_urut))
        )
        .Columns(columns =>
        {
            columns.Bound(col => col.no_urut).Width(150).Title("No Urut");
            columns.Bound(col => col.nm_angkut).Width(150).Title("Nama Angkut");
            columns.Command(command =>
            {
                command.Custom("EditAkseptasiOtherCargoDetail")
                    .Text("Edit")
                    .IconClass("fa fa-pencil-alt")
                    .HtmlAttributes(new { title = "Edit" })
                    .Click("btnEditAkseptasiOtherCargoDetail_OnClick");
                command.Custom("DeleteAkseptasiOtherCargoDetail")
                    .Text("Delete")
                    .IconClass("k-icon k-i-delete")
                    .HtmlAttributes(new { title = "Delete" })
                    .Click("btnDeleteAkseptasiOtherCargoDetail_OnClick");
            }).Width(200).Title("Action");
        })
        .Pageable(pager => pager
            .Refresh(true)
            .Info(true)
            .PageSizes(true)
        )
        .Sortable()
        .Filterable()
        .Scrollable()
        .Height(450)
        .Resizable(a => a.Columns(true))
        .Events(ev => ev.DataBound("gridAutoFit"))
    
        )
    
    <div class="window-footer">
        <button type="button" id="btn-previous-akseptasiOtherCargoDetail" class="btn btn-primary space-right">
            <span class="fa fa-arrow-left"></span> Previous
        </button>
    </div>
</div>