@using Kendo.Mvc.UI
@using ABB.Application.RenewalPolis.Queries
@using ABB.Application.Common.Dtos
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Renewal Polis";
}
<script src="~/Modules/RenewalPolis/JS/renewalPolis.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>
<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Renewal Polis
        </div>

        <div class="col-md-4">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search"/>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<RenewalPolisDto>()
                .Name("RenewalPolisGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetRenewalPolis", "RenewalPolis").Data("searchFilter"))
                    .Model(model => model.Id(p => p.Id))
                )
                .Columns(columns =>
                {
                    columns.Bound(col => col.nm_cb).Width(150).Title("Nama Cabang");
                    columns.Bound(col => col.nm_cob).Width(150).Title("Nama COB");
                    columns.Bound(col => col.nm_scob).Width(150).Title("Nama Sub COB");
                    columns.Bound(col => col.no_pol).Width(150).Title("Nomor Polis");
                    columns.Bound(col => col.no_updt).Width(150).Title("Nomor Update");
                    columns.Bound(col => col.no_renew).Width(150).Title("Nomor Renewal");
                    columns.Bound(col => col.nm_ttg).Width(150).Title("Nama Tertanggung");
                    columns.Bound(col => col.tgl_mul_ptg).Width(150).Title("Tanggal Mulai").Format("{0: dd-MM-yyyy}");
                    columns.Bound(col => col.tgl_akh_ptg).Width(150).Title("Tanggal Akhir").Format("{0: dd-MM-yyyy}");
                    columns.Bound(col => col.tgl_closing).Width(150).Title("Tanggal Closing").Format("{0: dd-MM-yyyy}");
                    columns.Command(command =>
                    {
                        command.Custom("Renewal")
                            .Text(" Renewal")
                            .IconClass("fa fa-newspaper")
                            .HtmlAttributes(new { title = "Renewal" })
                            .Click("btnRenewalPolis_OnClick");
                    }).Width(200).Title("Action");
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit")))
        </div>
    </div>
</div>

