@using Kendo.Mvc.UI
@model ABB.Web.Modules.InforceInwardTreatyNonProporsional.Models.InforceInwardTreatyNonProporsionalModel
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Inforce Inward Treaty Non Proporsional";
}
<script src="~/Modules/InforceInwardTreatyNonProporsional/JS/inforceInwardTreatyNonProporsional.js"></script>

<div class="flat-box" id="container-cancel-csm">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Inforce Inward Treaty Non Proporsional
        </div>
    </div>

    <div class="flat-box-content">
        <form id="TreatyNonProporsionalForm" enctype="multipart/form-data" autocomplete="off">
            <div>
                <div class="row form-group">
                    <div class="row col-sm-6">
                        <label class="col-sm-3">Tanggal</label>
                        <div class="col-sm-7">
                            <kendo-datepicker for="TanggalAkhir" value="@DateTime.Now" style="width: 100%" />
                        </div>
                        <div class="col-sm-2">
                            <button type="button" id="btn-refresh-grid" class="btn btn-primary" style="width: 100%">
                                <span class="fa fa-redo"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

