@using Kendo.Mvc.UI
@using ABB.Application.Navigations.Queries
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu Manager";
}
<script type="kendo-template" id="isactive-column-template">
    # if (IsActive=="Active") { #
        <i class="fas fa-check-circle fa-lg" style="color:var(--jade-green)"></i> Active
    # } else { #
        <i class="fas fa-times-circle fa-lg" style="color:var(--coral-red)"></i> Inactive
    # } #

</script>
<script src="~/Modules/Navigation/JS/navigation.index.js"></script>

<div class="flat-box">
    <div class="flat-box-title">
        Menu Manager

        <div class="pullright-flex">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search" />
            <button class="flat-btn-primary" id="btnAddNavigation">Add New Menu</button>
        </div>
    </div>
    <div class="flat-box-content">
        @(Html.Kendo().Grid<NavigationViewDto>()
        .Name("NavGrid")
        .DataSource(dataSource => dataSource.Ajax().PageSize(10)
            .Read(read => read.Action("GetNavigationList", "Navigation").Data("searchFilter"))
        )
        .Columns(columns =>
        {
            columns.Bound(col => col.NavigationId).Hidden();
            columns.Bound(col => col.Text).Title("Menu").Width(200);
            columns.Bound(col => col.Icon).Title("Icon").ClientTemplate("<span class='fas #= Icon #'> </span>").Width(100);
            columns.Bound(col => col.IsActive).Title("Status").ClientTemplate("#=isactiveTmp(data)#").Width(100);
            columns.Bound(col => col.SubNavigation).Title("Sub Menu").ClientTemplate("#= kendo.toString(replaceString(SubNavigation))#").Width(250);
            columns.Command(command =>
            {
                command.Custom("Edit")
                        .Text(" ")
                        .IconClass("fa fa-pencil-alt")
                        .HtmlAttributes(new { title = "Edit" })
                        .Click("btnEditNav_OnClick");
                command.Custom("Delete")
                        .Text(" ")
                        .IconClass("fa fa-trash")
                        .HtmlAttributes(new { title = "Delete" })
                        .Click("btnDeleteNav_OnClick");

            }).Title("Action").Width(80);

        })
        .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                    )
        .Scrollable(a=>a.Height(420))
        .Resizable(a => a.Columns(true))
        .Events(ev => ev.DataBound("gridAutoFit"))
        .Sortable()
        .Filterable())
        @(Html.Kendo().Window()
            .Name("NavWindow")
            .Title("Add New Menu")
            .Width(600)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            .LoadContentFrom("Add", "Navigation")
          )
    </div>
</div>

