@using Kendo.Mvc.UI
@model ABB.Web.Modules.User.Models.ChangePasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web
@{
    ViewData["Title"] = "User Page";
}
<style>
    .k-textbox, .k-dropdown {
        width: 100%;
    }
</style>
<script src="~/Modules/User/JS/user.changepassword.js"></script>

<form id="ChangePasswordForm" enctype="multipart/form-data">
    <div class="window-body">
        <input type="hidden" asp-for="Id" />
        <div class="col-sm-12">
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <vc:password-box aspfor="@Model.NewPassword" place-holder="Enter new password" name="NewPassword" value="@Model.NewPassword"></vc:password-box>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <vc:password-box aspfor="@Model.ConfirmPassword" place-holder="Enter confirm password" name="ConfirmPassword" value="@Model.ConfirmPassword"></vc:password-box>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="window-footer">
        <button type="button"  id="btn-change-password" class="btn btn-primary space-right">Change</button>
    </div>
</form>
