@using ABB.Web.Modules.Akseptasi.Components.Coverage
@using ABB.Web.Modules.Akseptasi.Components.Obyek
@using ABB.Web.Modules.Akseptasi.Components.Other
@using ABB.Web.Modules.Akseptasi.Components.Resiko
@model ABB.Web.Modules.Akseptasi.Models.AkseptasiResikoParameterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<script src="~/Modules/Akseptasi/Components/Other/otherCargo.js"></script>

<div class="window-body">
    <div id="resikoOtherTab">
        <ul>
            <li class="k-active">
                Cargo
            </li>
            <li>
                Alat Angkut > 1
            </li>
        </ul>
        <div id="tabResikoMotor">
            <vc:other-cargo model="@Model"></vc:other-cargo>
        </div>
        <div id="tabResikoMotorDetail">
            <vc:other-cargo-detail model="@Model"></vc:other-cargo-detail>
        </div>
    </div>
    
    <div class="window-footer">
        <button type="button" id="btn-previous-akseptasiResikoOther" class="btn btn-primary space-right">
            <span class="fa fa-arrow-left"></span> Previous
        </button>
    </div>
</div>