@using Kendo.Mvc.UI
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@model ABB.Web.Modules.CetakNotaPremiTreatyKeluar.Models.CetakNotaPremiTreatyKeluarViewModel

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cetak Nota Premi Treaty Keluar";
}
<script src="~/Modules/CetakNotaPremiTreatyKeluar/JS/cetakNotaPremiTreatyKeluar.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>
<div class="flat-box">
    <div class="row" style="padding-bottom: 1em;">
        <div class="flat-box-title col-md-8">
            Cetak Nota Premi Treaty Keluar
        </div>
    </div>
    <form id="CetakNotaPremiTreatyKeluarForm" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-3">Periode</label>
                <div class="col-sm-6">
                    <kendo-datepicker for="periode" start="CalendarView.Year" 
                                      depth="CalendarView.Year" 
                                      format="MMMM yyyy" value="DateTime.Now"/>
                    <span asp-validation-for="periode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-3">Jenis Laporan</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="jns_lap" style="width: 100%" option-label="Pilih Jenis Laporan"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetJenisLaporan", "CetakNotaPremiTreatyKeluar")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="jns_lap" class="text-danger"></span>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <button type="button" id="btn-preview" class="btn btn-success space-right">
                <span class="fa fa-search"></span> Preview
            </button>
        </div>
    </form>
</div>

