@using ABB.Application.Alokasis.Queries
@using Kendo.Mvc.UI

<script src="~/Modules/Inquiry/Components/InquiryAlokasi/alokasi.js"></script>

<div class="window-body">
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="search-field-top" style="height: 1em" id="SearchKeywordAlokasi" placeholder="Search"/>
        </div>
        <div class="offset-5"></div>
    </div>
    
    @(Html.Kendo().Grid<DetailAlokasiDto>()
        .Name("AlokasiGrid")
        .DataSource(dataSource => dataSource.Ajax()
            .Read(read => read.Action("GetDetailAlokasis", "Inquiry").Data("searchFilterAlokasi"))
            .Model(model => model.Id(k => new { k.kd_cb, k.kd_cob, k.kd_scob, k.kd_thn, 
                k.no_pol, k.no_updt, k.no_rsk, k.kd_endt, k.no_updt_reas, k.kd_jns_sor, 
                k.kd_grp_sor, k.kd_rk_sor } ))
        )
        .Columns(columns =>
        {
            columns.Bound(col => col.kd_jns_sor).Width(150).Title("Jenis SOR");
            columns.Bound(col => col.kd_rk_sor).Width(150).Title("Kode SOR");
            columns.Bound(col => col.nilai_ttl_ptg_reas).Width(150).Title("TSI");
            columns.Bound(col => col.pst_share).Width(150).Title("Share (%)");
            columns.Bound(col => col.nilai_prm_reas).Width(150).Title("Premi");
            columns.Bound(col => col.pst_kms_reas).Width(150).Title("Pst (%)");
            columns.Bound(col => col.nilai_kms_reas).Width(150).Title("Komisi");
            columns.Bound(col => col.pst_adj_reas).Width(150).Title("Rate Adjustment");
            columns.Bound(col => col.stn_adj_reas).Width(150).Title("Rate Adjustment").ClientTemplate("#= data.stn_adj_reas == 1 ? '%' : '%o' #");
            columns.Bound(col => col.nilai_adj_reas).Width(150).Title("Premi Adjustment");
            columns.Command(command =>
            {
                command.Custom("ViewInquiryAlokasi")
                    .Text("View")
                    .IconClass("fa fa-eye")
                    .HtmlAttributes(new { title = "View" })
                    .Click("btnViewInquiryAlokasi_OnClick");
            }).Width(200).Title("Action");
        })
        .Pageable(pager => pager
            .Refresh(true)
            .Info(true)
            .PageSizes(true)
        )
        .Sortable()
        .Filterable()
        .Scrollable()
        .AutoBind(false)
        .Height(450)
        .Resizable(a => a.Columns(true))
        .Events(ev => ev.DataBound("OnInquiryAlokasiDataBound"))
    
        )
    
    <div id="totalAlokasi" class="col-sm-12 row"></div>
    <div class="window-footer">
        <button type="button" id="btn-previous-inquiryResikoAlokasi" class="btn btn-primary space-right">
            <span class="fa fa-arrow-left"></span> Previous
        </button>
    </div>
</div>