@using Kendo.Mvc.UI
@model ABB.Web.Modules.TarifKebakaranOJK.Models.DetailTarifKebakaranOJKViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<div class="window-body" style="background-color: lightgray">
    <form id="DetailTarifKebakaranOJKForm" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Kode Pos</label>
            <div class="col-sm-12">
                <kendo-textbox for="kd_okup" readonly="true" style="width: 100%"/>
                <span asp-validation-for="kd_okup" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Kode Kelas Konstruksi</label>
            <div class="col-sm-12">
                <kendo-dropdownlist for="kd_kls_konstr" style="width: 100%" readonly="true" class="primary-dropdown"
                                    datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetKodeKelasKontruksi", "TarifKebakaranOJK")"/>
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
                <span asp-validation-for="kd_kls_konstr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Satuan Rate Premi</label>
            <div class="col-sm-12">
                <kendo-dropdownlist for="stn_rate_prm" style="width: 100%" class="not-null-dropdown"
                                    datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetSatuanRatePremi", "TarifKebakaranOJK")"/>
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
                <span asp-validation-for="stn_rate_prm" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Rate Premi Minimum</label>
            <div class="col-sm-12">
                <kendo-numerictextbox for="pst_rate_prm_min" max="100" format="n4" decimals="4" style="width: 100%; background-color: #FFFFE1"/>
                <span asp-validation-for="pst_rate_prm_min" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Rate Premi Maximum</label>
            <div class="col-sm-12">
                <kendo-numerictextbox for="pst_rate_prm_max" max="100" format="n4" decimals="4" style="width: 100%; background-color: #FFFFE1"/>
                <span asp-validation-for="pst_rate_prm_max" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

<div class="window-footer">
    <button type="button" onclick="onSaveDetailTarifKebakaranOJK()" class="btn btn-success space-right">
        <span class="fa fa-save"></span> Save
    </button>
</div>