@using ABB.Application.CetakLampiranEndorsments.Queries
@using Kendo.Mvc.UI
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cetak Lampiran Endorsment";
}
<script src="~/Modules/CetakLampiranEndorsment/JS/cetakLampiranEndorsment.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>
<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-8">
            Cetak Lampiran Endorsment
        </div>

        <div class="col-md-4">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search"/>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<CetakLampiranEndorsmentDto>()
                .Name("CetakLampiranEndorsmentGrid")
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetCetakLampiranEndorsments", "CetakLampiranEndorsment").Data("searchFilter"))
                    .Model(model => model.Id(p => p.Id))
                )
                .Columns(columns =>
                {
                    columns.Bound(col => col.nm_cb).Width(150).Title("Nama Cabang");
                    columns.Bound(col => col.nm_cob).Width(150).Title("Nama COB");
                    columns.Bound(col => col.nm_scob).Width(150).Title("Nama Sub COB");
                    columns.Bound(col => col.no_pol_ttg).Width(200).Title("Nomor Polis").ClientTemplate("#= formatNoPol(no_pol_ttg) #");;
                    columns.Bound(col => col.no_updt).Width(150).Title("Nomor Update");
                    columns.Bound(col => col.tgl_closing).Width(150).Title("Tanggal Closing").Format("{0: dd-MM-yyyy}");
                    columns.Bound(col => col.nm_ttg).Width(150).Title("Nama Tertanggung");
                    columns.Command(command =>
                    {
                        command.Custom("Preview")
                            .Text(" ")
                            .IconClass("fa fa-eye")
                            .HtmlAttributes(new { title = "Preview" })
                            .Click("viewReport");
                    }).Width(200).Title("Action");
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit"))
                ) 
        </div>
    </div>
</div>

