@using Kendo.Mvc.UI
@using ABB.Application.COBs.Queries
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "COB List";
}

<script src="~/Modules/COB/JS/cob.index.js"></script>
<script src="~/Modules/COB/JS/cob.form.js"></script>

@Html.AntiForgeryToken()
<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Master COB
        </div>
        <div class="col-md-4">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search" />
        </div>

        <div class="col-md-2">
            <button class="flat-btn-primary" id="btnAddNewCOB">Add COB</button>
        </div>
    </div>
    <div class="flat-box-content">
        @(Html.Kendo().Grid<COBDto>()
        .Name("COBGrid")
        .DataSource(dataSource => dataSource.Ajax().PageSize(5)
            .Read(read => read.Action("GetCOBs", "COB").Data("searchFilter"))
        )
        .Resizable(r => r.Columns(true))
        .Columns(columns =>
        {
            columns.Bound(col => col.kd_cob).Title("Kode COB").Width(100);
            columns.Bound(col => col.nm_cob).Title("Nama COB").Width(200);
            columns.Bound(col => col.nm_cob_ing).Title("Alamat").Width(200);
            columns.Bound(col => col.kd_class).Title("Kode Class").Width(100);
            columns.Command(command =>
            {
                command.Custom("Edit")
                        .Text(" ")
                        .IconClass("fa fa-pencil-alt")
                        .HtmlAttributes(new { title="Edit"})
                        .Click("btnEditCOB_OnClick");
                command.Custom("Delete")
                        .Text(" ")
                        .IconClass("fa fa-trash")
                        .HtmlAttributes(new { title="Delete"})
                        .Click("btnDeleteCOB_OnClick");
            }).Title("Action").Width(180);
        })
        .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(new int[] { 5, 10, 25, 50 })
                    )
        .Sortable()
        .Height(400)
        .Scrollable()
        .Filterable())
        @(Html.Kendo().Window()
            .Name("COBWindow")
            .Title("COB Page")
            .Width(400)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
          )
    </div>
</div>

