@using Kendo.Mvc.UI
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@model ABB.Web.Modules.OutstandingKlaim.Models.OutstandingKlaimViewModel

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Outstanding Klaim";
}
<script src="~/Modules/OutstandingKlaim/JS/outstandingKlaim.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>
<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-8">
            Outstanding Klaim
        </div>
    </div>
    
    <form id="OutstandingKlaimForm" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Cabang</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="kd_cb" style="width: 100%" option-label="Pilih Cabang"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetCabang", "OutstandingKlaim")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_cb" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode COB</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="kd_cob" style="width: 100%" option-label="Pilih COB"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetCOB", "OutstandingKlaim")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_cob" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Periode</label>
                <div class="col-sm-6">
                    <kendo-datepicker for="tgl_akh" value="DateTime.Now"/>
                    <span asp-validation-for="tgl_akh" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Jenis Laporan</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="jenis_laporan" style="width: 100%"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetJenisLaporan", "OutstandingKlaim")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_cob" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="button" id="btn-preview" class="btn btn-success space-right">
                <span class="fa fa-search"></span> Preview
            </button>
        </div>
    </form>
</div>

