@using ABB.Application.PostingNotaPremiXOLKeluars.Queries
@using Kendo.Mvc.UI
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Posting Nota Premi XOL Keluar";
}
<script src="~/Modules/PostingNotaPremiXOLKeluar/JS/postingNotaPremiXOLKeluar.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>
<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Posting Nota Klaim Treaty Masuk
        </div>

        <div class="col-md-4">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search"/>
        </div>

        <div class="col-md-2">
            <button class="flat-btn-primary" onclick="postingNotaPremiXOLKeluar()">Posting</button>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<PostingNotaPremiXOLKeluarDto>()
                .Name("PostingNotaPremiXOLKeluarGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetPostingNotaKlaimTreaties", "PostingNotaPremiXOLKeluar").Data("searchFilterPostingNotaPremiXOLKeluar"))
                    .Model(model => model.Id(p => p.nomor_nota))
                )
                .Columns(columns =>
                {
                    columns.Select().Width(50);
                    columns.Bound(col => col.nomor_nota).Width(150).Title("Nomor Nota");
                    columns.Bound(col => col.nm_cob).Width(150).Title("Nama COB");
                    columns.Bound(col => col.nm_mtu).Width(150).Title("Nama Mata Uang");
                    columns.Bound(col => col.nm_ttj).Width(150).Title("Nama Tertuju");
                    columns.Bound(col => col.ket_nt).Width(150).Title("Keterangan Nota");
                    columns.Bound(col => col.tgl_nt).Width(150).Title("Tanggal Nota").Format("{0: dd-MM-yyyy}");
                    columns.Bound(col => col.nilai_nt).Width(150).Title("Nilai Nota").Format("{0:n2}");;
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .PersistSelection()
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit").Change("onChangeGridPostingNotaPremiXOLKeluar"))
        
                )    
        </div>
    </div>
</div>

