@model ABB.Web.Modules.PengajuanAkseptasi.Models.PengajuanAkseptasiModel
@using Kendo.Mvc.UI
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<script src="~/Modules/PengajuanAkseptasi/JS/pengajuanAkseptasi.form.js"></script>

<div class="window-body">
    <div id="PengajuanAkseptasiTab">
        <ul>
            <li class="k-active">
                Akseptasi
            </li>
            <li>
                Lampiran
            </li>
        </ul>
        <div id="tabPengajuanAkseptasi">
            <vc:pengajuan-akseptasi model="@Model"></vc:pengajuan-akseptasi>
        </div>
        <div id="tabLampiranPengajuanAkseptasi">
            <vc:lampiran-pengajuan-akseptasi model="@Model"></vc:lampiran-pengajuan-akseptasi>
        </div>
    </div>
</div>