@model List<ABB.Application.PengajuanAkseptasi.Queries.PengajuanAkseptasiStatusDto>
@using ABB.Application.PengajuanAkseptasi.Queries
@using Kendo.Mvc.UI
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<script src="~/Modules/PengajuanAkseptasi/JS/pengajuanAkseptasi.info.js"></script>

<div class="window-body">
    <div class="row">
        <div class="flat-box-title col-md-8">
        </div>
        <div class="col-md-3">
            <input type="text" class="search-field-top " id="SearchPengajuanAkseptasiInfoKeyword" placeholder="Search"/>
        </div>
    </div>

     @(Html.Kendo().Grid<PengajuanAkseptasiStatusDto>()
         .Name("PengajuanAkseptasiInfoGrid")
         .DataSource(dataSource => dataSource.Ajax()
             .Read(read => read.Action("GetPengajuanAkseptasiStatus", "PengajuanAkseptasi").Data("dataPengajuanAkseptasiInfo"))
         )
         .Columns(columns =>
         {
             columns.Bound(col => col.Id).Hidden();
             columns.Bound(col => col.no_urut).Width(75).Title("No");
             columns.Bound(col => col.nm_user).Title("Nama User Proses");
             columns.Bound(col => col.tgl_status).Title("Tanggal Proses").Format("{0:dd MMM yyyy • HH:mm}");
             columns.Bound(col => col.nm_status).Title("Status");
             columns.Bound(col => col.ket_status).Title("Keterangan Status");
             columns.Bound(col => col.nm_user_sign).Title("Nama User Sign");
             columns.Bound(col => col.tgl_batas).Title("Tanggal Batas").Format("{0:dd MMM yyyy • HH:mm}");
             columns.Bound(col => col.reminder).Title("Reminder");
         })
         .Pageable(pager => pager
             .Refresh(true)
             .Info(true)
             .PageSizes(true)
         )
         .Sortable()
         .ClientDetailTemplateId("infoDetail")
         .Filterable()
         .Scrollable()
         .Height(380)
         .Resizable(a => a.Columns(true))
         .Events(ev => ev.DataBound("gridAutoFit"))
         )
</div>

<script id="infoDetail" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<PengajuanAkseptasiStatusAttachmentDto>()
        .Name("grid_#=Id#")
        .Columns(columns =>
        {
            columns.Bound(o => o.nm_dokumen).Title("Nama Dokumen").ClientTemplate("<a href='/pengajuan-akseptasi-status-attachment/#= Id #/\\#: nm_dokumen \\#' target='_blank'>\\#: nm_dokumen \\#</a>");
        })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(5)
            .Read(read => read.Action("GetLampiranPengajuanAkseptasiStatus", "PengajuanAkseptasi",
                new { kd_cb = "#=kd_cb#", kd_cob = "#=kd_cob#", kd_scob = "#=kd_scob#",
                    kd_thn = "#=kd_thn#", no_aks = "#=no_aks#", no_urut = "#=no_urut#" }))
        )
        .Pageable()
        .Sortable()
        .ToClientTemplate())
</script>