@using ABB.Application.Akuisisis.Queries
@using Kendo.Mvc.UI
@using Kendo.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Akuisisi";
}

<script src="~/Modules/Akuisisi/JS/akuisisi.index.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>

<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-8">
            Akuisisi
        </div>

        <div class="col-md-4">
            <button class="flat-btn-primary" onclick="btnAddAkuisisi_OnClick()">Add New Akuisisi</button>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<AkuisisiDto>()
                .Name("AkuisisiGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetAkuisisis", "Akuisisi").Data("searchFilter"))
                    .Model(model => model.Id(p => p.Id))
                )
                .Columns(columns =>
                {
                    columns.Command(command =>
                    {
                        command.Custom("EditAkuisisi")
                            .Text("Edit")
                            .IconClass("fa fa-pencil-alt")
                            .HtmlAttributes(new { title = "Edit" })
                            .Click("btnEditAkuisisi_OnClick");
                        command.Custom("DeleteAkuisisi")
                            .Text("Delete")
                            .IconClass("k-icon k-i-delete")
                            .HtmlAttributes(new { title="Delete"})
                            .Click("onDeleteAkuisisi");
                    }).Width(200).Title("Action").Locked(true);
                    columns.Bound(col => col.nm_cob).Width(150).Title("Nama COB");
                    columns.Bound(col => col.nm_scob).Width(150).Title("Nama SCOB");
                    columns.Bound(col => col.kd_thn).Width(150).Title("Kode Tahun");
                    columns.Bound(col => col.nm_mtu).Width(150).Title("Nama Mata Uang");
                    columns.Bound(col => col.nilai_min_acq).Width(150).Title("Nilai Minimum Premi");
                    columns.Bound(col => col.nilai_maks_acq).Width(150).Title("Nilai Maksimum Premi");
                    columns.Bound(col => col.nilai_acq).Width(150).Title("Persentase Nilai Akuisisi");
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit"))
        
                )    
        </div>
        
        @(Html.Kendo().Window()
            .Name("AkuisisiWindow")
            .Title("Akuisisi")
            .Width(400)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
    </div>
</div>

