@using Newtonsoft.Json

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
}
<script src="~/Modules/Home/JS/home.js"></script>

<style>
    .chart--container {
      min-height: 550px;
      width: 100%;
      height: 100%;
    }
  </style>

<div class="container-fluid">
</div>