@using Kendo.Mvc.UI
@using ABB.Application.Common.Dtos
@using ABB.Application.EndorsementPolis.Queries
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Endorsement Polis";
}
<script src="~/Modules/EndorsementPolis/JS/endorsementPolis.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>
<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-8">
            Endorsement Polis
        </div>

        <div class="col-md-4">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search"/>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<EndorsementPolisDto>()
                .Name("EndorsementPolisGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetEndorsementPolis", "EndorsementPolis").Data("searchFilter"))
                    .Model(model => model.Id(p => p.Id))
                )
                .Columns(columns =>
                {
                    columns.Command(command =>
                    {
                        command.Custom("Normal")
                            .Text(" Normal")
                            .IconClass("fa fa-folder-open")
                            .HtmlAttributes(new { title = "Normal" })
                            .Click("btnEndorsementPolisNormal_OnClick");
                        command.Custom("Cancel")
                            .Text(" Cancel")
                            .IconClass("fa fa-times-circle")
                            .HtmlAttributes(new { title = "Cancel" })
                            .Click("btnEndorsementPolisCancel_OnClick");
                        command.Custom("NoPremium")
                            .Text(" No Premium")
                            .IconClass("fa fa-prescription-bottle")
                            .HtmlAttributes(new { title = "NoPremium" })
                            .Click("btnEndorsementPolisNoPremium_OnClick");
                    }).Width(200).Title("Action").Locked(true);
                    columns.Bound(col => col.nm_cb).Width(150).Title("Nama Cabang");
                    columns.Bound(col => col.nm_cob).Width(150).Title("Nama COB");
                    columns.Bound(col => col.nm_scob).Width(150).Title("Nama Sub COB");
                    columns.Bound(col => col.no_pol_ttg).Width(200).Title("Nomor Polis").ClientTemplate("#= formatNoPol(no_pol_ttg) #");
                    columns.Bound(col => col.no_updt).Width(150).Title("Nomor Update");
                    columns.Bound(col => col.nm_ttg).Width(200).Title("Nama Tertanggung");
                    columns.Bound(col => col.tgl_mul_ptg).Width(150).Title("Tanggal Mulai").Format("{0: dd-MM-yyyy}");
                    columns.Bound(col => col.tgl_akh_ptg).Width(150).Title("Tanggal Akhir").Format("{0: dd-MM-yyyy}");
                    columns.Bound(col => col.tgl_closing).Width(150).Title("Tanggal Closing").Format("{0: dd-MM-yyyy}");
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit")))
        </div>
    </div>
</div>