@using Kendo.Mvc.TagHelpers
@using Kendo.Mvc.UI
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ABB.Web.Modules.Cabang.Models.CabangViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@{
    ViewData["Title"] = "Cabang Page";
}

<script src="~/Modules/Cabang/JS/cabang.edit.js"></script>

<form id="CabangForm" enctype="multipart/form-data">
    <div class="window-body" style="background-color: lightgray">

        <div class="form-group row">
            <label asp-for="kd_cb" class="col-sm-3" style="align-content: center">Kode Cabang</label>
            <div class="col-sm-9">
                <kendo-textbox for="kd_cb" readonly="true" style="background-color: #00FFFF"/>
                <span asp-validation-for="kd_cb" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="nm_cb" class="col-sm-3" style="align-content: center">Nama Cabang</label>
            <div class="col-sm-9">
                <kendo-textbox for="nm_cb" style=" background-color: #FFFFE1"/>
                <span asp-validation-for="nm_cb" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="almt" class="col-sm-3" style="align-content: center">Alamat</label>
            <div class="col-sm-9">
                <kendo-textbox for="almt"/>
                <span asp-validation-for="almt" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group row">
            <label asp-for="kt" class="col-sm-3" style="align-content: center">Kota</label>
            <div class="col-sm-5">
                <kendo-textbox for="kt"/>
                <span asp-validation-for="kt" class="text-danger"></span>
            </div>
            <label asp-for="kd_pos" class="col-sm-2" style="align-content: center">Kode Pos</label>
            <div class="col-sm-2">
                <kendo-textbox for="kd_pos"/>
                <span asp-validation-for="kd_pos" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="no_tlp" class="col-sm-3" style="align-content: center">Telephone</label>
            <div class="col-sm-9">
                <kendo-textbox for="no_tlp"/>
                <span asp-validation-for="no_tlp" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="npwp" class="col-sm-3" style="align-content: center">NPWP</label>
            <div class="col-sm-9">
                <kendo-textbox for="npwp"/>
                <span asp-validation-for="npwp" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="no_fax" class="col-sm-3" style="align-content: center">No. Fax</label>
            <div class="col-sm-9">
                <kendo-textbox for="no_fax"/>
                <span asp-validation-for="no_fax" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="email" class="col-sm-3" style="align-content: center">Email</label>
            <div class="col-sm-9">
                <kendo-textbox for="email"/>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="window-footer">
        <button type="button" id="btn-edit-cabang" class="btn btn-primary space-right">Save</button>
    </div>
</form>