@using Kendo.Mvc.UI
@using ABB.Application.VoucherKass.Queries
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Posting Voucher Kas";
}
<script src="~/Modules/PostingVoucherKas/JS/PostingVoucherKas.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>
<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-10">
            Posting Voucher Kas
        </div>

        <div class="col-md-2">
                <button class="flat-btn-primary" onclick="postingVoucherKas()">Posting</button>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<VoucherKasDto>()
                .Name("AkseptasiGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetPostingVoucherKas", "PostingVoucherKas").Data("searchFilter"))
                    .Model(model => model.Id(p => p.NoVoucher))
                )
                .Columns(columns =>
                {
                    columns.Select().Width(50);
                    columns.Bound(col => col.KodeCabang).Width(150).Title("Kode Cabang");
                    columns.Bound(col => col.JenisVoucher).Width(150).Title("Jenis Voucher");
                    columns.Bound(col => col.NoVoucher).Width(200).Title("No. Voucher");
                    columns.Bound(col => col.DebetKredit).Width(150).Title("Debet/Kredit");
                    columns.Bound(col => col.TanggalVoucher).Format("{0:dd-MM-yyyy}").Width(150).Title("Tanggal Voucher");
                    columns.Bound(col => col.TotalVoucher).Format("{0:n2}").Width(150).Title("Total");
                    columns.Bound(col => col.KeteranganVoucher).Width(150).Title("Keterangan");
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .PersistSelection()
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit"))
        
                )    
        </div>
    </div>
</div>

