@model ABB.Web.Modules.VoucherBank.Models.VoucherBankViewModel
@using Kendo.Mvc.UI
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

<style>
    .custom-kode .k-input,
    .custom-kode .k-input,
   .custom-kode,
    .custom-kode .k-textbox,
    .custom-kode .k-input,
    .custom-kode input {
        background-color: #00FFFF !important;
    }
    /* No Rekening – warna kuning muda */
    .custom-kuning,
    .custom-kuning .k-textbox,
    .custom-kuning .k-input,
    .custom-kuning input {
        background-color: rgb(255, 255, 225) !important;
    }



</style>

<div class="window-body" style="background-color: lightgray">
    <form id="VoucherBankForm" enctype="multipart/form-data" autocomplete="off">
        
         <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="KodeCabang"></label>
                <div>
                    <kendo-combobox for="KodeCabang"
                                    style="width: 100%;"
                                    datatextfield="Text"
                                    datavaluefield="Value"
                                    bind-to="ViewBag.KodeCabangOptions"
                                    filter="FilterType.Contains"
                                    placeholder="Pilih atau ketik kode cabang..."
                                    readonly="true">
                    </kendo-combobox>
                    <span asp-validation-for="KodeCabang" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-sm-3">
                    <label asp-for="JenisVoucher"></label>
                    <div>
                        <kendo-textbox for="JenisVoucher" style="width: 100%;" readonly="true" />
                        <span asp-validation-for="JenisVoucher" class="text-danger"></span>
                    </div>
            </div>
            <div class="form-group col-sm-3">
                <label asp-for="DebetKredit"></label>
                <div>
                    <kendo-dropdownlist for="DebetKredit"
                                        class="custom-kuning"
                                        style="width: 100%;"
                                        datatextfield="Text"
                                        datavaluefield="Value"
                                        bind-to="ViewBag.DebetKreditOptions" readonly="true">
                    </kendo-dropdownlist>
                    <span asp-validation-for="DebetKredit" class="text-danger"></span>
                </div>
            </div>
        </div>
         <div class="row">
             <div class="form-group col-sm-4">
                <label asp-for="KodeBank"></label>
                <div>
                    <kendo-combobox for="KodeBank"
                                    style="width: 100%;"
                                     class="custom-kuning"
                                    datatextfield="Text"
                                    datavaluefield="Value"
                                    bind-to="ViewBag.KodeBankOptions"
                                    filter="FilterType.Contains"
                                    placeholder="Pilih atau ketik kode bank..."
                                    value="@Model.KodeBank"
                                    readonly="true"
                                    >
                    </kendo-combobox>
                    <span asp-validation-for="KodeBank" class="text-danger"></span>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="FlagSementara" name="FlagSementara" 
                           @(Model.FlagSementara ? "checked" : "") >
                    <label class="form-check-label" for="FlagSementara" style="font-weight:bold;">Voucher Sementara</label>
                    
                    <input type="hidden" name="FlagSementara" value="@(Model.FlagSementara ? "true" : "false")" />
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-sm-6">
                <label asp-for="NoVoucher">Nomor Voucher</label>
                <div>
                 <kendo-textbox for="NoVoucher"  class="custom-kode" style="width: 100%;" readonly="true"   />
                    <span asp-validation-for="NoVoucher" class-="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <label asp-for="NoVoucherSementara">Nomor Voucher Sementara</label>
                <div>
                    <kendo-textbox for="NoVoucherSementara" class="custom-kode" style="width: 100%;" readonly="true"  />
                    <span asp-validation-for="NoVoucherSementara" class="text-danger"></span>
                </div>
            </div>
        </div>
        
          <hr>
          <div class="row">
             <div class="form-group col-sm-6">
                <label asp-for="KodeAkun"></label>
                <div>
 <kendo-combobox for="KodeAkun"
                                    style="width: 100%;"
                                    datatextfield="Text"
                                    datavaluefield="Value"
                                    bind-to="ViewBag.KodeAkunOptions"
                                    filter="FilterType.Contains"
                                    placeholder="Pilih atau ketik kode Akun..."
                                    readonly="true">
                        </kendo-combobox>
                    <span asp-validation-for="KodeAkun" class="text-danger"></span>
                </div>
            </div>
        
            <div class="form-group col-sm-6">
                <label asp-for="NoBank">Nomor Cek/Bank/Transfer</label>
                <div>
                    <kendo-textbox for="NoBank" class="custom-kuning" style="width: 100%;"/>
                    <span asp-validation-for="NoBank" class="text-danger"></span>
                </div>
            </div>
             <div class="form-group col-sm-6">
                <label asp-for="TanggalVoucher"></label>
                <div>
                    <kendo-datepicker for="TanggalVoucher" class="custom-kuning" style="width: 100%;" readonly="true"/>
                    <span asp-validation-for="TanggalVoucher" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="KodeMataUang"></label>
                <div>
                    <kendo-combobox for="KodeMataUang"
                                     class="custom-kuning"
                                    style="width: 100%;"
                                    datatextfield="Text"
                                    datavaluefield="Value"
                                    bind-to="ViewBag.MataUangOptions"
                                    filter="FilterType.Contains"
                                    placeholder="Pilih mata uang..."
                                    readonly="true"
                                   > 
                    </kendo-combobox>
                    <span asp-validation-for="KodeMataUang" class="text-danger"></span>
                </div>
            </div>
            
          </div>
       

        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="TotalVoucher"></label>
                <div>
                    <kendo-numerictextbox for="TotalVoucher" format="n2" class="custom-kuning" style="width: 100%;"/>
                    <span asp-validation-for="TotalVoucher" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="TotalDalamRupiah"></label>
                <div>
                    <kendo-numerictextbox for="TotalDalamRupiah" format="n2" style="width: 100%;" readonly="true"/>
                    <span asp-validation-for="TotalDalamRupiah" class="text-danger"></span>
                </div>
            </div>
        </div>
        
        <div class="row">
             <div class="form-group col-sm-12">
                <label asp-for="DiterimaDari"></label>
                <div>
                    <kendo-textbox for="DiterimaDari" style="width: 100%;"/>
                    <span asp-validation-for="DiterimaDari" class="text-danger"></span>
                </div>
            </div>
            
        </div>

          <div class="row">
                <div class="form-group col-sm-12">
                    <label asp-for="JenisPembayaran"></label>
                    <div>
                        
                            <kendo-dropdownlist for="JenisPembayaran"
                                                 class="custom-kuning"
                                                id="JenisPembayaran"
                                                style="width: 100%;"
                                                datatextfield="Text"
                                                datavaluefield="Value"
                                                bind-to="ViewBag.jenispembayaranOptions">
                                
                            </kendo-dropdownlist>
                        <span asp-validation-for="JenisPembayaran" class="text-danger"></span>
                    </div>
                </div>
            </div>


        <div class="row">
             <div class="form-group col-sm-12">
                <label asp-for="KeteranganVoucher"></label>
                <div>
                  <kendo-textarea for="KeteranganVoucher" 
                        name="KeteranganVoucher" 
                        style="width: 100%; background-color:#fff !important;" 
                        rows="4">@Model.KeteranganVoucher
        </kendo-textarea>
                    <span asp-validation-for="KeteranganVoucher" class="text-danger"></span>
                </div>
            </div>
          
        </div>
        <div class="row">
         <div class="form-group col-sm-4">
                <label asp-for="FlagPosting"></label>
                <div>
                    <button type="button" id="flagPosting-checkbox-ui" class="btn btn-default" style="border: 1px solid #ced4da; background-color: white;" disabled>
                        <i class="far fa-square" style="font-size: 1.2em;"></i>
                    </button>
                    
                    <input type="hidden" asp-for="FlagPosting" />
                    <span asp-validation-for="FlagPosting" class="text-danger"></span>
                </div>
            </div>
        </div>

         <hr />

        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="TanggalInput"></label>
                <div>
                    <kendo-datepicker for="TanggalInput" style="width: 100%;" readonly="true" />
                </div>
            </div>
             <div class="form-group col-sm-6">
                <label asp-for="TanggalUpdate"></label>
                <div>
                    <kendo-datepicker for="TanggalUpdate" style="width: 100%;" readonly="true" />
                </div>
            </div>
        </div>
        <div class="row">
           
            <div class="form-group col-sm-6">
                <label asp-for="KodeUserInput"> Kode User Input</label>
                <div>
                    <kendo-textbox for="KodeUserInput" style="width: 100%;" readonly="true" />
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="KodeUserUpdate"> Kode User Update</label>
                <div>
                    <kendo-textbox for="KodeUserUpdate" style="width: 100%;" readonly="true" />
                </div>
            </div>
        </div>
    </form>
</div>

<div class="window-footer">
    <button type="button" onclick="onSaveVoucherBank()" class="btn btn-success space-right">
        <span class="fa fa-save"></span> Save
    </button>
</div>
<script>
    $(document).ready(function() {
        var hiddenInput = $("#FlagPosting");
        var icon = $('#flagPosting-checkbox-ui').find('i');

        // Saat form edit dimuat, sesuaikan ikon dengan nilai dari model
        if (hiddenInput.val().toLowerCase() === "true") {
            icon.removeClass('fa-square').addClass('fa-check-square');
        } else {
            icon.removeClass('fa-check-square').addClass('fa-square');
        }
    });
</script>