@using Kendo.Mvc.UI
@using Kendo.Mvc.TagHelpers
@using ABB.Application.TipeAkuns117.Queries
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Tipe Akun 117";
}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Modules/TipeAkun117/JS/tipeakun117.index.js"></script>

<style>
    .div-box { padding-bottom: 1em; }
    .swal2-container { z-index: 10050 !important; }
     .breadcrumb-item + .breadcrumb-item::before {
        content: ">"; 
        padding: 0 .5rem; 
    }
</style>

<nav aria-label="breadcrumb">
   <ol class="breadcrumb" style="background: white; ">
        <li class="breadcrumb-item"><a href="#">Accounting</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tipe Akun 117</li>
    </ol>
</nav>

<div class="flat-box">
    <div class="flat-box-title ">
       Daftar Tipe Akun
        <div class="pullright-flex">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Cari Kode/Nama..."/>
            <button class="flat-btn-primary" onclick="btnAddTipeAkun_OnClick()">Tambah Tipe Akun</button>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<TipeAkun117Dto>()
                .Name("TipeAkunGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetTipeAkun117", "TipeAkun117").Data("getSearchFilter"))
                    .Model(model => model.Id(p => p.Kode)) // Primary Key
                    .PageSize(20)
                )
                .Columns(columns =>
                {
                    columns.Bound(col => col.Kode).Title("Kode").Width(100);
                    columns.Bound(col => col.NamaTipe).Title("Nama Tipe").Width(250);
                    
                    // --- FORMAT TAMPILAN POS ---
                    // AK = Neraca Aktiva, 01 = Laba Rugi Income, PS = Neraca Passive, 02 = Laba Rugi Cost
                    columns.Bound(col => col.Pos).Title("POS").Width(200);
                    columns.Bound(col => col.DebetKredit).Title("Debet/Kredit").Width(200);
                       

                    // --- FORMAT TAMPILAN KASBANK ---
                    
                    columns.Command(command =>
                    {
                        command.Custom("EditTipe")
                            .Text(" Edit ")
                            .IconClass("fa fa-edit")
                            .Click("btnEditTipeAkun_OnClick");

                        command.Custom("DeleteTipe")
                            .Text(" Hapus ")
                            .IconClass("fa fa-trash")
                            .Click("btnDeleteTipeAkun_OnClick");
                    }).Width(180).Title("Aksi").Locked(true);
                })
                .Pageable(pager => pager.Refresh(true).PageSizes(true))
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(500)
                .Resizable(a => a.Columns(true))
            )
        </div>

        @(Html.Kendo().Window()
            .Name("TipeAkunWindow")
            .Title("Form Tipe Akun")
            .Width(600)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
        )
    </div>
</div>

<script>
    function getSearchFilter() {
        return {
            searchKeyword: $("#SearchKeyword").val()
        };
    }

    $(document).ready(function () {
        $("#SearchKeyword").on("keyup", function() {
            $("#TipeAkunGrid").data("kendoGrid").dataSource.read();
        });
    });
</script>