@model ABB.Web.Modules.Account.Models.ChangePasswordModel
@* @{ *@
@*     Layout = "~/Modules/Shared/_FrontLayout.cshtml"; *@
@* } *@

<style>
    .text-danger {
        color: red;
    }

    .field-validation-error {
        margin: 5px;
    }
</style>
<div class="row">
    <div class="login-image col-lg-7 d-none d-lg-block">
    </div>
    <div class="login-panel col-lg-5 d-block">
        <div class="login-logo center"></div>
        <div class="login-body">
            <form method="post" name="change-password-form" autocomplete="off">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UpdatedBy" />
                <div class="login-Title">Change Password</div>
                <div class="login-field">
                    <div class="login-caption">New Password</div>
                    <vc:password-box-with-class name="NewPassword"  place-holder="Enter new password" value="@Model?.NewPassword" class="login-input" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="login-field">
                    <div class="login-caption">Confirm Password</div>
                    <vc:password-box-with-class name="ConfirmPassword"  place-holder="Enter confirm password" value="@Model?.ConfirmPassword" class="login-input" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="button" class="btn btn-primary login-btn" id="btn-change-password">Update</button>
            </form>
        </div>
    </div>
</div>

<script src="~/Modules/Account/JS/account.change-password.js"></script>

