@using Kendo.Mvc.UI
@model ABB.Web.Modules.Account.Models.ProfileViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@{
    ViewData["Title"] = "User Profile";
}
<script src="~/Modules/Account/JS/account.change-current-password.js"></script>
<form id="ChangePasswordForm" method="post" action="/Action/ChangeCurrentPassword">
    <input type="hidden" asp-for="UserPassword.Id" />
    <div class="form-group">
        <label class="col-sm-3">Password</label>
        <div class="col-sm-12">
            <vc:password-box name="UserPassword.CurrentPassword"  place-holder="Enter password" value="@Model?.UserPassword?.CurrentPassword" />
            <span asp-validation-for="UserPassword.CurrentPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3">New Password</label>
        <div class="col-sm-12">
            <vc:password-box name="UserPassword.NewPassword"  place-holder="Enter new password" value="@Model?.UserPassword?.NewPassword" />
            <span asp-validation-for="UserPassword.NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Confirm Password</label>
        <div class="col-sm-12">
            <vc:password-box name="UserPassword.ConfirmPassword"  place-holder="Enter confirm password" value="@Model?.UserPassword?.ConfirmPassword" />
            <span asp-validation-for="UserPassword.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button type="button" id="btn-update-password" class="btn btn-primary space-right">Update Password</button>
        </div>
    </div>
</form>