@using Kendo.Mvc.UI
@model ABB.Web.Modules.DataPolisOJK.Models.DataPolisOJKViewModel
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Data Polis OJK";
}
<script src="~/Modules/DataPolisOJK/JS/dataPolisOJK.js"></script>

<div class="flat-box" id="container-cancel-csm">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Data Polis OJK
        </div>
    </div>

    <input type="hidden" id="kd_cb" value="@ViewBag.KodeCabang">
    
    <div class="flat-box-content">
        <form id="DataPolisOJKForm" enctype="multipart/form-data" autocomplete="off">
            <div>
                <div class="row form-group">
                    <div class="row col-sm-6">
                        <label class="col-sm-4">Kode Cabang</label>
                        <div class="col-sm-4">
                            <kendo-dropdownlist for="KodeCabang"
                                                datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                                <datasource type="DataSourceTagHelperType.Custom">
                                    <transport>
                                        <read url="@Url.Action("GetCabang", "DataPolisOJK")"/>
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="row col-md-6">
                        <div class="col-md-4" style="align-self: center">
                            <label>Tanggal</label>
                        </div>
                        <div class="col-md-4">
                            <kendo-datepicker for="TanggalAkhir" value="@DateTime.Now" style="width: 100%" />
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="row col-sm-6">
                        <label class="col-sm-4">Jenis Laporan</label>
                        <div class="col-sm-4">
                            <kendo-dropdownlist for="JenisLaporan"
                                                datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                                <datasource type="DataSourceTagHelperType.Custom">
                                    <transport>
                                        <read url="@Url.Action("GetJenisLaporan", "DataPolisOJK")"/>
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" id="btn-refresh-grid" class="btn btn-primary" style="width: 100%">
                                <span class="fa fa-redo"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

