@using Kendo.Mvc.UI
@model List<ABB.Domain.Entities.InitialPAA>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<script src="~/Modules/NotaRisiko/Components/InitialPAA/initialPAA.component.js"></script>

<input type="hidden" id="initialPAADS" value='@Html.Raw(Json.Serialize(Model))' /> 
<div id="InitialPAAGrid" >
</div>

<div class="window-footer">
    <button type="button" id="btn-next-initialPAA" class="btn btn-primary space-right">
        Next <span class="fa fa-arrow-right"></span>
    </button>
</div>